<script setup lang="ts">
import { QDialog } from 'quasar';
import { ref } from 'vue';
const dialog = ref<InstanceType<typeof QDialog>>();
defineExpose({
  show: () => dialog.value?.show(),
});
</script>

<template lang="pug">
QDialog(ref="dialog")
  QCard.card
    .title
      .text
        slot(name="title")
      QBtn.close(
        icon="close"
        @click="dialog?.hide()"
        flat round dense
      )
    .body
      slot
</template>

<style scoped>
:global(.q-dialog__inner--minimized > div) {
  background-color: var(--background);
  color: var(--text);
}
@media (min-width: 600px) {
  :global(.q-dialog__inner--minimized > .card) {
    max-width: min(70em, 100vw);
  }
}
.card {
  --padding: 1em;
}
.title {
  position: sticky;
  display: flex;
  align-items: center;
  background-color: var(--background);
  top: 0;
  padding: var(--padding);
  padding-bottom: 0;
}
.title .text {
  font-size: 120%;
}
.close {
  margin-left: auto;
}
.body {
  padding: var(--padding);
  padding-top: 0;
}
</style>