<script setup lang="ts">
import { nextTick, ref } from 'vue';
import AppDialog from './AppDialog.vue';
import SettingsView from './SettingsView.vue';
import HelpView, { type Tab } from './HelpView.vue';
const { disableEdit = false, disableTabs = [], initialTab } = defineProps<{
  disableEdit?: boolean;
  disableTabs?: Tab[];
  initialTab?: Tab;
}>();
const settingsDialog = ref<InstanceType<typeof AppDialog>>();
const helpDialog = ref<InstanceType<typeof AppDialog>>();
const helpView = ref<InstanceType<typeof HelpView>>();
function showHelp(tab: Tab) {
  helpDialog.value?.show();
  nextTick(() => {
    helpView.value?.selectTab(tab);
  });
}
function showSettings() {
  settingsDialog.value?.show();
}
defineExpose({
  showHelp,
  showSettings,
});
</script>

<template lang="pug">
QBtn(
  label="Settings"
  title="App settings"
  icon="settings"
  @click="settingsDialog?.show()"
  dense flat no-caps
)
AppDialog(ref="settingsDialog")
  template(#title) Settings
  SettingsView(:disable-edit="disableEdit")
QBtn(
  @click="helpDialog?.show()"
  icon="help"
  label="Help"
  title="Help information"
  dense flat no-caps
)
AppDialog(ref="helpDialog")
  template(#title) Help
  HelpView(
    ref="helpView"
    :disable-tabs="disableTabs"
    :initial-tab="initialTab"
  )
</template>