<script setup lang="ts">
import { useBrowserLocation } from '@vueuse/core';
import { computed, ref } from 'vue';
const canonicalUrl = new URL(import.meta.env.VITE_CANONICAL_URL);
const location = useBrowserLocation()
const isAtCanonicalUrl = computed(() => location.value.hostname === canonicalUrl.hostname);
const hidden = ref(false);
</script>

<template lang="pug">
QBanner.bg-warning.q-mb-sm(
  v-if="!isAtCanonicalUrl && !hidden"
  inline-actions
  dense
)
  template(#avatar)
    QIcon(name="east")
  | We have a new home! Please update your bookmark: #[a(:href="canonicalUrl.href") {{ canonicalUrl.hostname }}]
  template(#action)
    QBtn(
      icon="close"
      @click="hidden = true"
      flat round dense
    )
</template>