<script setup lang="ts">
import { QInput } from 'quasar';
import { nextTick, ref, useAttrs, useSlots } from 'vue';
defineOptions({
  inheritAttrs: false,
})
const attrs = useAttrs();
const modelValue = defineModel<string>();
const showEmpty = ref(false);
function showInput() {
  showEmpty.value = true;
  nextTick(() => input.value?.focus());
}
const input = ref<InstanceType<typeof QInput>>();
const focused = ref(false);
const slots = useSlots();
</script>

<template lang="pug">
template(v-if="modelValue || showEmpty")
  QInput.input(
    ref="input"
    v-model="modelValue"
    v-bind="attrs"
    @focus="focused = true"
    @blur="focused = showEmpty = false"
    @keyup.esc="input?.blur()"
    :outlined="focused"
    :borderless="!focused"
    :title="!focused ? 'Click to edit' : undefined"
    dense
  )
    template(
      v-for="(_, name) in slots"
      #[name]="slotProps"
    )
      slot(
        v-if="slotProps"
        :name="name"
        v-bind="slotProps"
      )
      slot(
        v-else
        :name="name"
      )
template(v-else)
  slot(
    name="placeholder"
    v-bind="{showInput}"
  )
</template>

<style scoped>
.input:has(:focus-visible) {
  border-color: black;
}
.button {
  min-height: 0;
}
</style>