<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { Cursor, CursorDirection } from '../models/cursor';
import { drawSVG, Segment, Angle } from '@mathigon/euclid';
import { blinkCursor } from '../models/settings';
const props = defineProps<{
  cursor: Cursor;
}>();
const path = computed(() => {
  const {currentCell, nextCell, mode, direction} = props.cursor;
  if(!currentCell.value || !nextCell.value) {
    return;
  }
  const path = mode.value === 'bloom'
    ? new Angle(
      direction.value === CursorDirection.forward ? currentCell.value.triangle.centroid : nextCell.value.triangle.centroid,
      currentCell.value.bloom.hexagon.centroid,
      direction.value === CursorDirection.reverse ? currentCell.value.triangle.centroid : nextCell.value.triangle.centroid,
    ).arc
    : new Segment(currentCell.value.box.centroid, nextCell.value.box.centroid);
  return drawSVG(path, {
    arrows: mode.value === 'row' || direction.value === CursorDirection.forward ? 'end' : 'start'
  });
})
const input = ref<HTMLInputElement>();
watch([
  () => props.cursor.currentCell.value,
  () => props.cursor.currentEntry.value,
  () => props.cursor.direction.value,
  () => props.cursor.mode.value,
], () => {
  input.value?.focus();
})
const inputValue = ref('');
watch(inputValue, () => {
  if(inputValue.value.length > 0) {
    props.cursor.onInput(inputValue.value[0]);
    inputValue.value = '';
  }
})
const cell = ref<SVGSVGElement>()
const focused = ref(false)
</script>

<template lang="pug">
g.cursor(:class="{focused, blink: blinkCursor}")
  path.cell(
    v-if="cursor.currentCell.value"
    ref="cell"
    :d="drawSVG(cursor.currentCell.value.triangle)"
  )
  path.path(
    v-if="focused"
    :d="path"
  )
  foreignObject(
    :x="cursor.currentCell.value?.box.p.x"
    :y="cursor.currentCell.value?.box.p.y"
    :width="cursor.currentCell.value?.box.w"
    :height="cursor.currentCell.value?.box.h"
  )
    input.input(
      ref="input"
      v-model="inputValue"
      :maxlength="1"
      @keyup.prevent="cursor.onKeyUp($event)"
      @blur="focused = false"
      @focus="focused = true"
    )
</template>

<style scoped>
.cursor {
  fill: none;
  pointer-events: none;
  stroke: var(--selected);
}
.cursor.focused.blink .path {
  animation: pulse 1.5s infinite;
}
.cursor:not(.focused) {
  opacity: 0.5;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
.cell {
  transition: d 0.4s;
  fill: var(--selected);
  fill-opacity: 0.25;
  stroke-width: 3px;
}
.path {
  transition-property: d opacity;
  transition-duration: 0.5s;
  stroke-width: 1px;
  opacity: 0.7;
}
.input {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
}
</style>