<script setup lang="ts">
import downloadSvg, { downloadPng } from 'svg-crowbar';
import { computed, ref } from 'vue';
import LogoView from './LogoView.vue';
const logo = ref<InstanceType<typeof LogoView>>();
const svg = computed(() => logo.value?.svg);
function generate() {
  if(svg.value) {
    downloadSvg(svg.value, 'favicon');
    downloadPng(svg.value, 'favicon');
  }
}
</script>

<template lang="pug">
.favicon-generator
  LogoView.logo(
    ref="logo"
    icon
  )
  QBtn(
    @click="generate"
    label="Generate"
    icon="save"
    flat dense
  )
</template>

<style scoped>
.favicon-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1ex;
}
.logo {
  width: 32px;
}
</style>