<script setup lang="ts">
import { computed, ref } from 'vue';
import { capitalCase } from 'change-case';
import { difference } from 'remeda';
const tabs = ['introduction', 'playing', 'editing', 'credits'] as const;
export type Tab = typeof tabs[number];
const { disableTabs = [], initialTab = 'playing' } = defineProps<{
  disableTabs?: Tab[],
  initialTab?: Tab,
}>();
const enabledTabs = computed(() => difference(tabs, disableTabs));
const tab = ref<Tab>(initialTab);
function selectTab(newTab: Tab) {
  tab.value = newTab;
}
defineExpose({
  selectTab,
});
const sites = [
  {
    title: 'Aries Puzzles',
    author: 'Andrew J. Ries',
    url: 'https://www.ariespuzzles.com/',
  },
  {
    title: 'Garden Party Crosswords',
    author: 'Michael Blake',
    url: 'https://www.gardenpartycrosswords.com/',
  },
  {
    title: 'Outside the Box Puzzles',
    author: 'Joon Pahk',
    url: 'http://www.joonpahk.com/blog/',
  },
  {
    title: 'Grids These Days',
    author: 'Paolo Pasco',
    url: 'http://gridsthesedays.blogspot.com/',
  }
]
const sourceUrl = import.meta.env.VITE_SOURCE_URL
const supportEmail = import.meta.env.VITE_SUPPORT_EMAIL
</script>

<template lang="pug">
QTabs(v-model="tab")
  QTab(
    v-for="tab in enabledTabs"
    :name="tab"
  ) {{ capitalCase(tab) }}
QTabPanels.panels(v-model="tab")
  QTabPanel.panel(name="introduction")
    section
      header What is this site?
      p.
        This is an app to play Rows Garden puzzles. To start playing, open an .RGZ file or paste an URL to one.
        After you've opened a puzzle, your progress is saved on your computer and you'll be able to return to it later.

    section
      header What is Rows Garden?
      p.
        Rows Garden is a variety crossword puzzle format invented by #[a(href="https://aframegames.com") Patrick Berry].
        It uses a grid consisting of triangle cells, and consists of row entries, with letters going from left to right,
        and bloom entries, with letters going clockwise or counterclockwise in a hexagon.
      p.
        Here are a few websites where you can learn about Rows Garden puzzles and
        find puzzles in RGZ format.
        Some of them require paid subscriptions.
      ul
        li(v-for="{url, title, author} in sites")
          a(
            :href="url"
            target="_blank"
          ) #[cite {{ title }}] by {{ author }}

  QTabPanel.panel(name="playing")
    section
      header Selecting clues
      p You can click on the clues, or click on a cell repeatedly to cycle between the clues that may contain it.
      p You can select row clues by clicking on the letter labels on the left side of the screen.
      p You can select bloom clues by clicking on dots in the center of blooms.

    section
      header Filling in rows
      p Normally as you type letters into the grid, the cursor will move toward the right.
      p.
        If you start typing when the last cell of a row is selected, letters will push toward the left as you type.
        This way you can enter an answer at the end of the row without having to count how many letters from the right
        it starts.

    section
      header Filling in blooms
      p While a bloom is selected, you can click on the dot in its center to cycle between typing clockwise and counter-clockwise.

    section
      header Context menu
      p The cell context menu has buttons to copy the entry note into the grid, rotate/flip letters in a bloom, and shift letters in row.
      p To open the context menu, right click, #[kbd Control] click on a Mac, or long press on a mobile device.

    section
      header Other tips 
      p You can click on the 🖉 icons at the end of clues to add notes, or click on notes to edit them.
      p.
        You can use #[kbd Backspace] and #[kbd Delete] to delete letters, and move around the grid using
        #[kbd ←] #[kbd →] #[kbd ↑] #[kbd ↓] as normal.
      p.
        The arrow on the cell selection outline indicates the typing direction. You can change it with the toolbar button,
        or by pressing #[kbd Enter].
  QTabPanel.panel(name="editing")
    section
      header Creating a puzzle
      p From the main page, click #[kbd Create Puzzle].
    section
      header Entering clues
      p On the right section of the screen, click on #[kbd Clue] for any entry to edit its clue.
    section
      header Splitting/merging rows
      p Click on #[kbd +] to add an entry to a row, or #[kbd -] to remove an extra entry.
    section
      header Entering answers
      p On the right section of the screen, click on #[kbd Answer] for any entry to edit its answer.
      p While typing answers to row entries on either end, the grid will have letters automatically filled in.
      p.
        If the length of an answer is too long or short to fit in a row or a bloom, a red ruler icon appears to
        indicate the problem.
      p.
        if the letters for a bloom answer are impossible with any kind of rotation or flip from letters currently
        in the grid, a red "ABC" icon appears to indicate the problem.
    section
      header Entering puzzle information
      p Click on the #[kbd Info] button in the toolbar, and click on the fields to edit them.
      p.
        Here you can choose whether the puzzle will be saved as a draft or "published". While it is a draft,
        reopening it in this app will automatically open it in edit mode instead of playing mode.
    section
      header Saving the puzzle
      p Click on #[kbd Save] to save the puzzle.
    section
      header Sharing your puzzle
      p.
        If you have a puzzle hosted at a publicly accessible URL, you can generate a URL which will use
        this site to open your puzzle directly. To do this, paste your puzzle URL into the #[kbd Open URL]
        field, and then click the link button. The URL will be copied to your clipboard. You can also use
        your browser context menu on the link icon to copy it.
  QTabPanel.panel(name="credits")
    section
      header Author
      | Yaohan Chen 
      template(v-if="supportEmail")
        QIcon.icon(name="mail")
        a(:href="`mailto:${supportEmail}`") Feedback email
      template(v-if="sourceUrl")
        QIcon.icon(name="code")
        a(:href="sourceUrl") Source code
    section
      header Testing and feedback
      p
        | #[a(href="https://www.twitch.tv/totcho" target="_blank") totcho],
        | #[a(href="https://www.gardenpartycrosswords.com" target="_blank") Michael Blake],
        | #[a(href="https://www.twitch.tv/crossweirdtv" target="_blank") CrossweirdTV],
        | #[a(href="http://shrinkraylabs.com/" target="_blank") Greg Miller]
    section
      header Powered by
      p
        | #[a(href="https://gitlab.com/" target="_blank") Gitlab],
        | #[a(href="https://vuejs.org/" target="_blank") Vue.js],
        | #[a(href="https://quasar.dev/" target="_blank") Quasar Framework],
        | #[a(href="https://mathigon.io/euclid/" target="_blank") Euclid.js]
</template>

<style scoped>
section {
  margin-bottom: 2ex;
}
header {
  font-size: 110%;
  font-weight: bold;
}
p {
  margin: 1ex 0;
}
.panels {
  background-color: transparent;
}
.icon {
  color: var(--selected);
  margin: 0 0.5em 0 1em;
}
.panel {
  width: min(60em, 80vw);
  height: min(85ex, 80vh);
  max-height: calc(100vh - 200px);
  overflow-x: auto;
}
</style>