<script setup lang="ts">
import { type ComputedRef } from 'vue';
import { loadFromUrl, useLoader } from '../models/file';
import { type PuzzleProperties } from '../models/puzzle';
import LogoView from './LogoView.vue';
interface PuzzleLink {
  url: string
  title: string
  author: {
    name: string
    url: string
    title: string
  }
  load: () => void
  loading: ComputedRef<boolean>
}
const puzzles: PuzzleLink[] = [
  {
    title: 'August FREE RG',
    author: {
      name: 'Andrew J. Ries',
      url: 'https://www.ariespuzzles.com/',
      title: 'Aries Puzzles',
    },
    url: 'https://www.dropbox.com/s/vu192116046jkdc/FREE%20RG%20-%20August20.rgz?dl=1',
  },
  {
    title: 'Rows Garden #1',
    author: {
      name: 'Paolo Pasco',
      url: 'https://gridsthesedays.blogspot.com/',
      title: 'Grids These Days',
    },
    url: 'https://www.dropbox.com/s/s2budfyv5lzecc1/paolorg.rgz?dl=1',
  },
  {
    title: 'Garden Party Year 4, Number 21',
    author: {
      name: 'Michael Blake',
      url: 'http://gardenpartycrosswords.com',
      title: 'Garden Party Crosswords',
    },
    url: 'https://www.dropbox.com/scl/fi/7z1ighmr3ns2s2od95est/Garden-Party-Year-4-Number-21.rg?rlkey=r350bs9hpfn8yrvnsgsckhwbz&dl=1',
  },
].map(({url, ...link}) => {
  const loader = useLoader(loadFromUrl, puzzle => emit('load', puzzle));
  return {
    url,
    ...link,
    load: () => loader.load(url),
    loading: loader.loading,
  }
})
const emit = defineEmits<{
  (e: 'load', puzzleProperties: PuzzleProperties): void
  (e: 'help'): void
}>();
const supportEmail = import.meta.env.VITE_SUPPORT_EMAIL;
</script>
<template lang="pug">
p.
  Welcome! This is an app to play and create #[a(href="#" @click.prevent="emit('help')") Rows Garden]
  crossword puzzles.
p.
  Open an .RGZ file or paste a link to it above to start playing.
  For your convenience, below are a couple free puzzles you can play right here.
ul.links
  li.link(v-for="{url, title, author, load, loading} in puzzles").puzzle
    a.action(
      :href="url"
      target="_blank"
      title="Open the puzzle"
      @click.prevent="load"
    ) 
    LogoView.logo(icon)
    | #[cite {{ title }}]
    small
      | by 
      a.author(
        :href="author.url"
        :title="author.title"
        target="_blank"
      ) {{author.name}}
    QSpinner.loading(v-if="loading.value")
  li.link.contact
    a.action(
      :href="`mailto:${supportEmail}`"
      title="Open your email client and send us a message"
    ) 
    QIcon.icon(
      name="rate_review"
      color="accent"
    )
    .space-available Space Available
    small Email us if you have a puzzle you would like to feature here, feedback, or suggestions
</template>

<style scoped>
.loading {
  margin-left: 1em;
}
.puzzle {
  list-style-type: none;
}
.links {
  margin: 0;
  padding: 0;
}
.link {
  display: block;
  position: relative;
}
.action {
  position: absolute;
  inset: 0;
}
.author {
  position: relative;
}
@media screen and (width < 90em) {
  .logo {
    width: 1rem;
    vertical-align: middle;
  }
  cite {
    margin-right: 0.5rem;
  }
  .space-available {
    display: none;
  }
  .logo, .icon {
    margin-right: 0.5rem;
  }
}
@media screen and (max-height: 600px) {
  ul {
    column-width: 15em;
  }
}
@media screen and (width >= 90em) {
  .links {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 3rem;
    margin: 3rem;
  }
  .link {
    flex: 1;  
  }
  .puzzle::before {
    content: none;
  }
  .links .link {
    display: flex;
    max-height: 14rem;
    border-radius: 10000rem;
    padding: 1em 5rem;
    transition: all 0.15s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--label);
    position: relative;
  }
  .link:not(.contact) {
    background-color: var(--card);
    box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem var(--shadow);
  }
  .link:not(.contact),
  .link.contact .icon {
    transform: translate(0em, 0em);
  }
  .link:not(.contact) .action:hover,
  .link.contact .action:hover .icon {
    filter: drop-shadow(0.2rem 0.2rem 0.4rem var(--shadow));
  }
  .link:not(.contact) .action:active,
  .link.contact .action:active .icon {
    animation: press 1s ease-out 1;
  }
  @keyframes press {
    from {
      transform: translate(0em, 0em);
    }
    to {
      transform: translate(0.1rem, 0.1rem);
    }
  }
  .link.contact {
    border: 0.2rem dashed var(--shadow);
  }
  .logo {
    height: 4em;
  }
  .logo, .icon {
    display: block;
    margin: 0.5rem auto;
  }
  .icon {
    font-size: 4rem;
  }
  small {
    display: block;
  }
  .loading {
    margin: 0;
    position: absolute;
    bottom: 0;
  }
}
</style>