<script setup lang="ts">
import { Polygon, Rectangle, Polyline, drawSVG, Point } from '@mathigon/euclid';
import pick from 'just-pick';
import range from 'just-range';
import { computed, ref } from 'vue';
const props = withDefaults(defineProps<{
  icon?: boolean;
  text?: boolean;
  medium?: boolean;
}>(), {
  icon: false,
  text: false,
  medium: false,
});
const triangleRadius = 40;
const strokeWidth = computed(() => props.icon ? 0 : 15);
const cell = Polygon.regular(3, triangleRadius);
const box = Rectangle.aroundPoints(cell.points);
const gridLayout = [
  range(1, 4),
  range(1, 7),
  range(1, 7),
  range(1, 4),
]
const grid = gridLayout.map((columns, rowIndex) =>
  columns.map(columnIndex => {
    const flipped = (rowIndex % 2 + columnIndex % 2) % 2 === 0;
    return {
      color:
        rowIndex < 2 && columnIndex < 4 ? 'var(--dark)' :
        rowIndex > 1 && columnIndex < 4 ? 'var(--medium)' :
        'var(--light)',
      triangle: cell
        .rotate(flipped ? Math.PI : 0)
        .translate({
          x: columnIndex * box.w / 2,
          y: flipped
            ? (rowIndex + 1 / 3) * box.h
            : (rowIndex + 2 / 3) * box.h
        })
    }
  })
)
const stroke = new Polyline(...[
  [2, 0, 1],
  [0, 0, 0],
  [1, 1, 0],
  [1, 2, 1],
  [2, 4, 0],
].map(([rowIndex, cellIndex, pointIndex]) =>
  grid[rowIndex][cellIndex].triangle.points[pointIndex]
));
const strokeClipPath = computed(() => new Rectangle(
  new Point(0, -strokeWidth.value),
  box.w * 3,
  box.h * 3,
));
const cells = grid.flat();
const textSize = triangleRadius * 2.5;
const textWidth = computed(() => props.icon ? 0 : textSize * 3.5);
const textProperties = computed(() => ({
  ...pick(grid[1][4].triangle.points[1], ['x', 'y']),
  'font-size': textSize,
  width: textWidth.value,
  height: textSize,
}));
const viewBox = computed(() => {
  let width = (Math.max(...gridLayout.flat()) + 1) * box.w / 2 + strokeWidth.value + textWidth.value;
  let height = gridLayout.length * box.h;
  if(props.icon) {
    width = height = Math.max(width, height);
  }
  return `${-strokeWidth.value} 0 ${width} ${height}`;
});
const svg = ref<SVGElement>();
defineExpose({
  svg
});
</script>

<template lang="pug">
svg.logo(
  ref="svg"
  :viewBox="viewBox"
)
  g.grid(v-if="!text")
    path.cell(
      v-for="{triangle, color} in cells"
      :d="drawSVG(triangle)"
      :style="{fill: color}"
    )
  template(v-if="!icon")
    path.stroke(
      :d="drawSVG(stroke)"
    )
    clipPath#logo-stroke-clip-path
      path(:d="drawSVG(strokeClipPath)")
    foreignObject(v-bind="textProperties")
      h1.text(:class="{medium}") Multiflora
</template>

<style scoped>
.cell {
  stroke: var(--pencil);
  stroke-width: 1px;
  fill: none;
}
.stroke {
  stroke: var(--selected);
  stroke-width: v-bind('strokeWidth');
  stroke-linecap: square;
  fill: none;
  clip-path: url(#logo-stroke-clip-path);
}
.text {
  color: var(--selected);
  font-weight: 100;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.text.medium {
  font-weight: 300;
}
.text:first-letter {
  font-size: 0;
  color: transparent;
}
</style>