<script setup lang="ts">
import type { Puzzle } from '../models/puzzle';
import { computed } from 'vue';
import ContentEditable from './ContentEditable.vue';
const props = defineProps<{
  puzzle: Puzzle;
  full?: boolean;
  vertical?: boolean;
}>();
const fieldNames = ['title', 'author', 'created', 'copyright', 'url', 'notes'] as const;
const fields = computed(() => fieldNames.flatMap(name => {
  if(name === 'notes' && !props.full) {
    return [];
  }
  const value = props.puzzle[name];
  if(value) {
    return {
      label: name,
      value: props.puzzle[name]?.value,
      setValue: (value: string) => {
        const ref = props.puzzle[name]
        if (ref) {
          ref.value = value;
        }
      }
    };
  } else {
    return [];
  }
}));
</script>

<template lang="pug">
QList.info(:class="{full, vertical}")
  template(v-for="{label, value, setValue} in fields")
    QItem.item(
      :class="label"
      v-if="value || puzzle.editing.value"
    )
      QItemSection
        template(v-if="puzzle.editing.value")
          ContentEditable.edit(
            :model-value="value"
            @update:model-value="setValue"
            :label="label"
            autogrow
          )
        template(v-else)
          QItemLabel.label(overline) {{label}}
          QItemLabel.value {{value}}
  template(v-if="puzzle.editing.value && full")
    QToggle(
      :label=`puzzle.draft.value
        ? 'Save as draft (editable by default)'
        : 'Save as published (not editable by default)'
      `
      v-model="puzzle.draft.value"
    )
</template>

<style scoped lang="scss">
.info:not(.full):not(.vertical) :deep(.q-item__label) {
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
}
.info.vertical {
  flex-direction: column;
  max-width: 8rem;
  white-space: wrap;
  word-break: break-word;
}
.item.notes .value {
  white-space: pre-wrap;
}
.info:not(.full) {
  & {
    color: var(--pencil);
    display: flex;
  }
  @media screen and (width < 1000px), screen and (height < 700px) {
    & {
      flex: 0 0 var(--info-height);
      height: var(--info-height);
      width: 100%;
      overflow: auto;
      gap: 1em;
    }
    :not(.full) .item {
      display: inline;
      white-space: pre;
      min-height: auto;
      padding: 0;
    }
    .item :deep(.q-item__section) {
      display: inline;
    }
    .label {
      display: none;
    }
    .value {
      margin: 0;
    }
  }
}
</style>