<script setup lang="ts">
import { Row } from '../models/row';
import { drawSVG } from '@mathigon/euclid';
import { Grid } from '../models/grid';
import { isRow } from '../models/entry';
const props = defineProps<{
  row: Row;
  grid: Grid;
  background: Element;
}>();
function onClick() {
  const {entries} = props.grid.game;
  const selectedEntry = entries.selected();
  const possibleEntries = props.row.entries;
  if(selectedEntry && isRow(selectedEntry) && possibleEntries.includes(selectedEntry)) {
    possibleEntries[(possibleEntries.indexOf(selectedEntry) + 1) % possibleEntries.length].select();
  } else {
    possibleEntries[0].select();
  }
}
</script>

<template lang="pug">
g.row
  Teleport(:to="background")
    g.selector(@click="onClick")
      path.rule(:d="drawSVG(row.rule)")
      path.circle(:d="drawSVG(row.circle)")
      text.label(
        :x="row.circle.c.x"
        :y="row.circle.c.y"
        :font-size="grid.game.rowLabelRadius * 0.9"
      ) {{ row.label }}
  g.selections(v-if="row.isSelected")
    path.selection(
      v-for="polygon in row.outline"
      :d="drawSVG(polygon)"
    )
  g.selections.possible(v-if="row.isPossiblySelected")
    path.selection.possible(
      v-for="polygon in row.outline"
      :d="drawSVG(polygon)"
    )
</template>

<style scoped>
.selection {
  pointer-events: none;
  stroke: var(--selected);
  stroke-width: 3;
  fill: var(--selected);
  fill-opacity: 0.1;
}
.selection.possible {
  stroke-dasharray: 5 5;
}
.selector {
  cursor: pointer;
}
.rule {
  fill: var(--pencil);
  opacity: 0.5;
}
.circle {
  fill: var(--pencil);
}
.label {
  fill: var(--background);
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
}
</style>