<script lang="ts" setup>
import { type Entry, isRow, isBloom } from '../models/entry';
import { type Puzzle } from '../models/puzzle';
import { computed, ref, watch } from 'vue';
import { Cursor } from '../models/cursor';
import ContentEditable from './ContentEditable.vue';
import { clueTextSize } from '../models/settings';
const props = defineProps<{
  entry: Entry;
  puzzle: Puzzle;
  cursor: Cursor;
}>();
function onClick() {
  if (props.entry.isOrderSecret) {
    props.entry.game.cluesSelection.select(props.entry)
  } else {
    props.entry.select()
  }
}
const selected = computed(() => props.entry.isOrderSecret
  ? props.entry.game.cluesSelection.isSelected(props.entry)
  : props.entry.isSelected
);
const element = ref<HTMLElement>();
function setAnswer(answer: string) {
  props.entry.answer.value = answer.toLocaleUpperCase();
}
watch(selected, selected => {
  if(selected) {
    element.value?.scrollIntoView();
  }
})
const enumeration = computed(() => props.entry.enumeration);
</script>

<template lang="pug">
.entry(
  ref="element"
  @click.self="onClick"
  :class="{selected, filled: entry.filled.value, 'possibly-selected': entry.isPossiblySelected}"
)
  .label(@click="onClick") {{ entry.label }}
  .clue(:class="{editing: puzzle.editing.value}")
    template(v-if="puzzle.editing.value")
      ContentEditable.edit(
        v-model="entry.clue.value"
        label="Clue"
        spellcheck="true"
        autogrow
      )
        template(#placeholder="{showInput}")
          QBtn.button(
            label="Clue"
            icon="question_mark"
            @click="showInput()"
            size="xs"
            dense flat no-caps
          )
      ContentEditable.answer(
        :model-value="entry.answer.value"
        @update:model-value="setAnswer"
        label="Answer"
        spellcheck="true"
      )
        template(#prepend)
          QIcon(
            v-if="entry.answer.value && !entry.answerFillsGrid"
            title="The answer has the wrong length"
            name="straighten"
            color="negative"
            size="xs"
          )
          QIcon(
            v-if="entry.answer.value && isBloom(entry) && !entry.answerCompatibleWithGridLetters"
            title="The answer is not possible with letters currently in the grid"
            name="abc"
            color="negative"
            size="xs"
          )
        template(#placeholder="{showInput}")
          QBtn.button(
            label="Answer"
            icon="key"
            @click="showInput()"
            size="xs"
            dense flat no-caps
          )
      QBtn(
        v-if="entry.answer.value && isRow(entry) && (entry.isAtStart || entry.isAtEnd) && !entry.gridMatchesAnswer"
        title="Copy answer to grid"
        icon="content_copy"
        @click="entry.copyAnswerToGrid()"
        size="xs"
        flat dense
      )
      QBtn(
        v-if="isRow(entry)"
        title="Add an entry on this row"
        icon="add"
        @click="puzzle.addEntry(entry.rowIndex, entry.index)"
        @focus="cursor.acceptInput.value = false"
        @blur="cursor.acceptInput.value = true"
        size="xs"
        flat dense
      )
      QBtn(
        v-if="isRow(entry) && !entry.isWholeRow"
        title="Remove entry"
        icon="remove"
        @click="puzzle.removeEntry(entry.rowIndex, entry.index)"
        @focus="cursor.acceptInput.value = false"
        @blur="cursor.acceptInput.value = true"
        size="xs"
        flat dense
      )
    template(v-else)
      .html(
        v-html="entry.clueHtml"
        @click="onClick"
      )
      .enumeration {{ enumeration }}
      ContentEditable.note(
        v-model="entry.note.value"
        title="Edit note"
        @focus="cursor.acceptInput.value = false"
        @blur="cursor.acceptInput.value = true"
        autogrow
      )
        template(#placeholder="{showInput}")
          QBtn.edit-note(
            icon="edit"
            @click="showInput()"
            title="Edit clue note"
            size="xs"
            dense flat no-caps
          )
      QBtn.toggle-filled(
        icon="check"
        :title="entry.filled.value ? 'Unmark as filled' : 'Mark as filled'"
        @click="entry.filled.value = !entry.filled.value"
        size="xs"
        flat dense
      )
</template>

<style scoped>
.entry {
  display: flex;
  align-items: baseline;
  font-size: v-bind('`${clueTextSize}px`');
  gap: 0.25em;
  cursor: pointer;
  padding: 0 0.2em 0 0;
}
.selected {
  background-color: var(--selected);
  color: var(--background);
  cursor: default;
}
.filled:not(.selected) {
  color: var(--pencil);
}
.filled .html {
  text-decoration: line-through;
  text-decoration-color: var(--accent);
}
.label {
  flex: 0 0 2em;
  display: flex;
  align-items: baseline;
}
.label::before {
  content: " ";
  white-space: pre;
  width: 1ex;
  margin-right: 0.5ex;
}
:not(.selected).possibly-selected .label::before {
  background-color: var(--selected);
  opacity: 0.5;
}
.label:not(:empty)::after {
  content: '.'
}
.clue:not(.editing) {
  font-family: serif;
}
.clue.editing {
  display: flex;
  gap: 0.5em;
}
.edit:empty::after {
  content: 'question_mark';
  font-family: 'Material Icons';
  opacity: 0.5;
  cursor: pointer;
}
.answer :deep(::spelling-error) {
  text-decoration: underline red;
}
.selected .edit,
.selected .answer
{
  --q-primary: var(--light);

}
.selected .edit:deep(.q-field__native),
.selected .answer:deep(.q-field__native),
.selected .note:deep(.q-field__native) {
  color: var(--light);
}
.selected .note:deep(.q-field__native) {
  opacity: 0.7;
}
.html {
  display: inline;
}
.enumeration {
  display: inline;
  font-size: 80%;
  opacity: 0.5;
  margin-left: 1ex;
}
.note {
  font-family: cursive;
  display: inline-block;
  color: var(--pencil);
  margin-left: 1em;
}
.note:empty::after {
  content: 'edit';
  font-family: 'Material Icons';
  opacity: 0.5;
  cursor: pointer;
}
.note:empty:hover::after {
  opacity: 1;
}
.entry:not(:hover) :is(.edit-note, .toggle-filled) {
  visibility: hidden;
}
</style>