<script setup lang="ts">
import { computed } from 'vue';
import { Cell } from '../models/cell';
import { Cursor } from '../models/cursor';
import { isBloom } from '../models/entry';
const props = defineProps<{
  cell: Cell;
  cursor: Cursor;
}>();
const currentEntry = computed(() => props.cursor.currentEntry.value)
const cells = computed(() => currentEntry.value?.cells || []);
function fillWithEntryNote() {
  if(!currentEntry.value || !currentEntry.value.note.value) {
    return;
  }
  const noteLetters = currentEntry.value.note.value
    .replaceAll(/[- ]/g, '')
    .toUpperCase()
    .slice(0, currentEntry.value.cells.length)
    .split('');
  const entryIsBloom = isBloom(currentEntry.value);
  const forward = entryIsBloom || currentEntry.value.index === 0;
  for(
    let forwardIndex = 0;
    forwardIndex < (entryIsBloom ? 6 : Math.min(noteLetters.length, cells.value.length));
    forwardIndex++
  ) {
    const index = forward ? forwardIndex : -1 - forwardIndex;
    cells.value.at(index)?.setText(noteLetters.at(index) || '');
  }
}
function getCellLetters() {
  return cells.value.map(({text}) => text.value);
}
function rotate(clockClockwise: boolean) {
  const cellLetters = getCellLetters();
  for(const [index, cell] of cells.value.entries()) {
    cell.setText(cellLetters.at(clockClockwise ? index + 1 - cells.value.length : index - 1) || '');
  }
}
function flip() {
  const cellLetters = getCellLetters();
  for(const [index, cell] of cells.value.entries()) {
    cell.setText(cellLetters.at(Math.floor(cells.value.length / 2) - index - 1) || '');
  }
}
function shift(toLeft: boolean) {
  const cellLetters = getCellLetters();
  const leftColumnIndex = props.cell.columnIndex;
  for(const [index, cell] of cells.value.entries()) {
    if(index > leftColumnIndex) {
      cell.setText(cellLetters.at(toLeft ? index + 1 : index - 1) || '');
    }
  }
}
</script>

<template lang="pug">
template(v-if="cursor.mode.value === 'bloom'")
  QBtn(
    @click="rotate(true)"
    icon="rotate_left"
    title="Rotate letters counter-clockwise"
    size="sm" round flat dense
  )
  QBtn(
    @click="rotate(false)"
    icon="rotate_right"
    title="Rotate letters clockwise"
    size="sm" round flat dense
  )
  QBtn(
    @click="flip"
    icon="flip"
    title="Flip letters"
    size="sm" round flat dense
  )
template(v-else-if="cursor.mode.value === 'row'")
  QBtn(
    @click="shift(true)"
    icon="west"
    title="Shift letters after this cell toward the left"
    size="sm" round flat dense
  )
  QBtn(
    @click="shift(false)"
    icon="east"
    title="Shift letters after this cell toward the right"
    size="sm" round flat dense
  )
QBtn(
  @click="fillWithEntryNote"
  icon="edit"
  title="Fill with entry note"
  size="sm" round flat dense
)
</template>
