<script setup lang="ts">
import { Grid } from '../models/grid';
import { drawSVG } from '@mathigon/euclid';
import PuzzleRow from './PuzzleRow.vue';
import { Cursor } from '../models/cursor';
import { computed, ref } from 'vue';
import CursorView from './CursorView.vue';

const props = defineProps<{
  grid: Grid;
  cursor: Cursor;
}>();
const background = ref();
const viewBoxWidth = computed(() => props.grid.width + 2 * props.grid.game.rowLabelRadius + 2);
const viewBoxHeight = computed(() => props.grid.height)
</script>

<template lang="pug">
svg.grid(
  :viewBox="`${-2 * grid.game.rowLabelRadius} 0 ${viewBoxWidth} ${viewBoxHeight}`"
)
  g.background(ref="background")
  g.cells
    PuzzleCell(
      v-for="cell in grid.game.cells"
      :cell="cell"
      :cursor="cursor"
    )
  path.outline(
    :d="drawSVG(grid.outline)"
  )
  g.rows(v-if="background")
    PuzzleRow(
      v-for="row in grid.game.rows"
      :row="row"
      :grid="grid"
      :background="background"
    )
  g.blooms
    PuzzleBloom(
      v-for="bloom in grid.game.blooms"
      :bloom="bloom"
      :cursor="cursor"
    )
  CursorView(:cursor="cursor")
</template>

<style scoped>
.grid {
  --max-width: calc(100vw - 2 * var(--padding) - var(--clue-width) - var(--horizontal-gap));
  --max-height: calc(100vh - 2 * var(--padding) - var(--toolbar-height) - var(--info-height) - 2 * var(--vertical-gap));
  width: min(var(--max-width), var(--max-height) * v-bind('viewBoxWidth') / v-bind('viewBoxHeight'));
}
@media screen and (width < 1000px) and (orientation: portrait) {
  .grid {
    --width: calc(100vw - 2 * var(--padding));
    --height: calc(var(--width) * v-bind('viewBoxHeight') / v-bind('viewBoxWidth'));
    flex: 1 0 var(--height);
    width: var(--width);
    height: var(--height);
  }
}
.outline {
  fill: none;
  stroke: var(--border);
  stroke-width: 2px;
  pointer-events: none;
}
</style>