<script setup lang="ts">
import { Bloom } from '../models/bloom';
import { drawSVG } from '@mathigon/euclid';
import { Cursor } from '../models/cursor';
import { bloomClueOrdering } from '../models/settings';
import { computed } from 'vue';
const props = defineProps<{
  bloom: Bloom;
  cursor: Cursor;
}>();
function onClick() {
  if(props.bloom.isSelected) {
    props.cursor.cycle();
  } else {
    props.bloom.game.blooms.select(props.bloom);
    props.bloom.entry?.select();
  }
}
const selectorRadius = computed(() => props.bloom.radius / 10)
</script>

<template lang="pug">
g.bloom
  path.selection(
    v-if="bloom.isSelected"
    :d="drawSVG(bloom.hexagon)"
  )
  path.selection.possible(
    v-if="bloom.isPossiblySelected"
    :d="drawSVG(bloom.hexagon)"
  )
  circle.selector(
    @click="onClick"
    :cx="bloom.hexagon.centroid.x"
    :cy="bloom.hexagon.centroid.y"
    :r="selectorRadius"
  )
  text.number(
    v-if="bloomClueOrdering === 'gridOrder'"
    :x="bloom.hexagon.centroid.x"
    :y="bloom.hexagon.centroid.y"
  ) {{ bloom.number }}
</template>

<style scoped>
.fill {
  pointer-events: none;
}
.selection {
  stroke: var(--selected);
  stroke-width: 3;
  pointer-events: none;
  fill: var(--selected);
  fill-opacity: 0.1;
}
.selection.possible {
  stroke-dasharray: 5;
}
.selector {
  fill: var(--border);
  cursor: pointer;
}
.number {
  fill: var(--light);
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
  font-size: calc(v-bind(selectorRadius) * 1.2px);
}
</style>