<script setup lang="ts">
import { Cell } from '../models/cell';
import { ref, computed } from 'vue';
import { drawSVG, Point, Segment, Circle } from '@mathigon/euclid';
import { Cursor } from '../models/cursor';
import PuzzleCellActions from './PuzzleCellActions.vue';

const props = defineProps<{
  cell: Cell;
  cursor: Cursor;
}>();
const textProperties = computed(() => {
  let position: Point;
  let angle = 0;
  let bold = false;
  const {row, bloom, box, triangle} = props.cell;
  const anchor = triangle.centroid;
  if(row.isSelected || row.isPossiblySelected) {
    position = box.centroid;
    bold = true;
  } else {
    position = triangle.centroid;
    if(bloom.isSelected || bloom.isPossiblySelected) {
      angle = new Segment(bloom.hexagon.centroid, triangle.centroid).angle * 180 / Math.PI + -270;
      bold = true;
    }
  }
  return {
    x: position.x,
    y: position.y,
    style: {
      transform: `rotate(${angle}deg)`,
      transformOrigin: `${anchor.x}px ${anchor.y}px`,
      fontWeight: bold ? 'bold' : 'normal',
    }
  };
})
function onClick() {
  const { game } = props.cell
  const { cells } = game
  if(cells.isSelected(props.cell)) {
    props.cursor.cycle();
  } else {
    cells.select(props.cell);
  }
}
const trianglePath = computed(() => drawSVG(props.cell.triangle))
const clipPathId = computed(() => `clipPath_${props.cell.columnIndex}_${props.cell.rowIndex}`)
const fill = ref();
const circlePath = computed(() => drawSVG(new Circle(
  props.cell.triangle.centroid,
  props.cell.triangle.edges[0].length * Math.sqrt(3) / 2 / 3,
)))
</script>

<template lang="pug">
clipPath(:id="clipPathId")
  path(:d="trianglePath")
g.cell(:clip-path="`url(#${clipPathId})`")
  path.fill(
    ref="fill"
    @click="onClick"
    :d="trianglePath"
    :fill="cell.game.palette[cell.bloom.color]"
  )
    foreignObject.actions
      QMenu.menu(
        context-menu
        :target="fill"
      )
        PuzzleCellActions(
          v-if="cell.selected"
          :target="fill"
          :cell="cell"
          :cursor="cursor"
        )
  path.shade(
    v-if="cell.isShaded"
    :d="trianglePath"
  )
  path.circle(
    v-if="cell.isCircled"
    :d="circlePath"
  )
  path.incorrect(
    v-if="cell.incorrect.value"
    :d="trianglePath"
  )
  path.revealed(
    v-if="cell.revealed.value"
    :d="trianglePath"
  )
  path.outline(
    :d="trianglePath"
  )
  text.text(
    :x="textProperties.x"
    :y="textProperties.y"
    :style="textProperties.style"
  ) {{cell.text.value}}
</template>

<style scoped>
.outline, .incorrect, .revealed {
  fill: none;
  pointer-events: none;
}
.outline {
  stroke: var(--border);
}
.fill {
  stroke: none;
}
.shade {
  stroke: none;
  pointer-events: none;
  opacity: 0.35;
  fill: var(--border);
}
.circle {
  fill: none;
  stroke: var(--pencil);
  pointer-events: none;
}
.shaded .fill {
  filter: brightness(0.7);
}
.dark.shaded .fill {
  filter: brightness(1.8);
}
.text {
  pointer-events: none;
  font-size: v-bind('`${cell.width / 3}px`');
  text-anchor: middle;
  dominant-baseline: middle;
  transition: all 0.5s;
  fill: var(--text);
}
.incorrect, .revealed {
  stroke-width: 8px;
}
.incorrect {
  stroke: var(--incorrect);
}
.revealed {
  stroke: var(--revealed);
}
.actions {
  overflow: visible;
}
.input {
  background-color: transparent;
  border: transparent;
  outline: transparent;
}
</style>