<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { parseFile, loadFromUrl, useLoader } from '../models/file';
import { makePuzzleProperties, type PuzzleProperties } from '../models/puzzle';
import { useClipboard } from '@vueuse/core';
import { useQuasar } from 'quasar';
import { Dimension, dimensionOptions } from '../models/dimension';
import { capitalCase } from 'change-case';
const emit = defineEmits<{
  (e: 'load', puzzleProperties: PuzzleProperties): void
}>();
const file = ref<File>();
const fileLoader = useLoader(parseFile, (puzzle) => emit('load', puzzle));
watch(file, async file => {
  if(file) {
    await fileLoader.load(file);
  }
});
const url = ref('');
watch(url, () => {
  if(url.value) {
    const parsed = new URL(url.value);
    const canonicalUrl = new URL(import.meta.env.VITE_CANONICAL_URL);
    if (parsed.hostname === canonicalUrl.hostname && parsed.searchParams.has('url')) {
      url.value = parsed.searchParams.get('url')!;
    }
  }
});
const urlLoader = useLoader(loadFromUrl, (puzzle) => emit('load', puzzle));
async function openUrl() {
  if(url.value) {
    await urlLoader.load(url.value);
  }
}
const quasar = useQuasar()
function createPuzzle() {
  quasar.dialog({
    title: 'Create New Puzzle',
    message: 'Select puzzle dimension',
    options: {
      model: 'standard',
      items: Object.entries(dimensionOptions).map(([name, dimension]) => ({
        label: `${capitalCase(name)} (${dimension.columnsPerRow}×${dimension.rowsPerColumn})`,
        value: name,
      })),
    },
  }).onOk((dimensionName: keyof typeof dimensionOptions) => {
    emit('load', {
      ...makePuzzleProperties(dimensionOptions[dimensionName]),
      editing: true,
      draft: true,
    });
  })
}
const shareUrl = computed(() => {
  const canonicalUrl = import.meta.env.VITE_CANONICAL_URL;
  if (url.value && canonicalUrl) {
    return `${canonicalUrl}?url=${encodeURIComponent(url.value)}`
  } else {
    return ''
  }
})
const { copy, copied } = useClipboard({
  source: shareUrl,
})
function copyShareUrl() {
  if (shareUrl.value) {
    copy();
  }
}
</script>

<template lang="pug">
QFile.file(
  v-model="file"
  accept=".rgz, .rg, .zip"
  label="Open File (.rgz / .rg / .zip)..."
  :loading="fileLoader.loading.value"
  :error="fileLoader.isError.value"
  :error-message="fileLoader.errorMessage.value"
  dense rounded standout="bg-secondary"
)
  template(#prepend)
    QIcon.icon(name="file_open")
QInput.url(
  v-model="url"
  label="Open URL"
  @keypress.enter="openUrl"
  :loading="urlLoader.loading.value"
  :error="urlLoader.isError.value"
  :error-message="urlLoader.errorMessage.value"
  dense rounded standout="bg-secondary"
)
  template(#prepend)
    QIcon.icon(name="public")
  template(#append)
    QBtn(
      :disable="!url || urlLoader.loading.value"
      icon="arrow_forward"
      title="Open puzzle"
      @click="openUrl"
      flat round dense no-caps
    )
    QBtn(
      :disable="!shareUrl"
      icon="link"
      :href="shareUrl"
      title="Get shareable link to open puzzle directly"
      :label="copied ? 'Copied!' : undefined"
      @click="copyShareUrl()"
      flat round dense no-caps
    )
    QTooltip(v-if="copied") Copied!
QBtn.create(
  label="Create Puzzle"
  icon="create"
  @click='createPuzzle()'
  color="accent"
  flat rounded dense no-caps
)
</template>

<style scoped>
.file, .url {
  flex: 1;
}
.q-field--highlighted .icon {
  color: var(--q-primary);
}
.q-field--standout.q-field--highlighted :deep(.q-field__native),
.q-field--standout.q-field--highlighted :deep(span) {
  color: var(--q-primary);
}
</style>