<script lang="ts" setup>
import type { Puzzle } from '../models/puzzle';
import { colors } from '../models/color';
import { Cursor } from '../models/cursor';
import { computed, ref } from 'vue';
import { mapToObj, sortBy } from 'remeda';
import { bloomClueOrdering } from '../models/settings';
import { BloomEntry } from '../models/entry';
import PuzzleClue from './PuzzleClue.vue'
const { puzzle } = defineProps<{
  puzzle: Puzzle;
  cursor: Cursor;
}>();
const bloomEntries = computed(() => mapToObj(colors, (color) => [
  color,
  sortBy(puzzle.entries[color],
    bloomClueOrdering.value === 'random' ? () => Math.random() :
      bloomClueOrdering.value === 'answerOrder' ? (entry) => entry.answer.value :
    (entry) => entry.index
  )
]))
</script>

<template lang="pug">
.clues
  header.header.item Rows
  template(v-for="entries in puzzle.entries.rows")
    PuzzleClue.item(
      v-for="entry in entries"
      :entry="entry"
      :puzzle="puzzle"
      :cursor="cursor"
    )
  template(v-for="color in colors")
    header.header.item {{color}} #[span.hex(:style="{color: puzzle.game.palette[color]}") ⬣]
    PuzzleClue.item(
      v-for="entry in bloomEntries[color]"
      :entry="entry"
      :puzzle="puzzle"
      :cursor="cursor"
    )
</template>

<style scoped>
.clues {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 2 * var(--padding));
  overflow: auto;
  --gap: 0.5em;
  --columns: 3;
  gap: var(--gap);
}
@media screen and (width < 1000px) and (orientation: portrait) {
  .clues {
    height: auto;
    width: 100%;
    --columns: 1;
  }
  .item {
    width: 100%;
  }
}
@media screen and (width < 1000px) and (orientation: landscape), screen and (height < 700px) {
  .clues {
    height: calc(100vh - 2 * var(--padding) - var(--vertical-gap) - var(--info-height));
    --columns: 2;
  }
}
.item {
  min-width: var(--clue-width);
  width: calc(100% / var(--columns) - (var(--columns) - 1) * var(--gap));
}
.header {
  font-size: 120%;
  font-weight: bold;
  text-transform: capitalize;
}
.entry + .header {
  margin-top: 0.5em;
}
.hex {
  -webkit-text-stroke: 1px var(--border);
}
</style>