<script setup lang="ts">
import { type GridState } from '../models/grid';
import { type PuzzleProperties } from '../models/puzzle';
import { storedState, loadState } from '../models/session';
const emit = defineEmits<{
  (e: 'load', puzzleProperties: PuzzleProperties, gridState: GridState): void
}>();
function onClick() {
  const loaded = loadState();
  if(loaded) {
    const { puzzle, grid } = loaded;
    emit('load', {
      ...puzzle,
      editing: puzzle.draft,
    }, grid);
  }
}
</script>

<template lang="pug">
QBtn.button(
  v-if="storedState"
  label="Continue Saved Puzzle"
  icon="arrow_forward"
  @click="onClick"
  color="primary"
  flat rounded dense no-caps
)
</template>

<style scoped>
.button {
  color: var(--accent);
}
</style>