<script setup lang="ts">
import { capitalCase } from 'change-case';
import {
  darkMode,
  skipFilledCells,
  enumerations,
  type EnumerationType,
  alwaysAllowEditing,
  bloomClueOrdering,
  bloomClueOrders,
  clueTextSize,
  disabledTips,
  difficulty,
  difficulties,
  difficultyDefinitions,
  blinkCursor,
} from '../models/settings';
import { computed, ref, watch } from 'vue';
import { type QSliderProps } from 'quasar';
import { difference } from 'remeda';
const { disableEdit } = defineProps<{
  disableEdit: boolean
}>();
function enumerationToggleProps(value: EnumerationType) {
  return {
    modelValue: enumerations.value === value && value,
    trueValue: value,
    ['onUpdate:modelValue']: (value: EnumerationType) => enumerations.value = value,
  }
}
function makeOptions(values: readonly string[]) {
  return values.map((value) => ({ label: capitalCase(value), value }))
}
watch(clueTextSize, () => {
  if (typeof clueTextSize.value !== 'number' || clueTextSize.value < 0) {
    clueTextSize.value = 16;
  }
})
function resetTips() {
  disabledTips.value = {}
}
const difficultyOptions = [
  ...makeOptions(difference(difficulties, ['custom'])),
  {
    label: 'Custom',
    value: 'custom',
    disable: true,
  }
]
watch(difficulty, (difficulty) => {
  if (difficulty !== 'custom') {
    const definition = difficultyDefinitions[difficulty]
    enumerations.value = definition.enumerations
    bloomClueOrdering.value = definition.bloomClueOrdering
  }
})
watch([enumerations, bloomClueOrdering], ([enumeration, bloomClueOrdering]) => {
  const matchingDifficulty = difficulties.find((difficulty) => {
    if (difficulty !== 'custom') {
      const definition = difficultyDefinitions[difficulty]
      return definition.enumerations === enumeration && definition.bloomClueOrdering === bloomClueOrdering
    }
  })
  if (matchingDifficulty) {
    difficulty.value = matchingDifficulty
  } else {
    difficulty.value = 'custom'
  }
})
</script>

<template lang="pug">
.settings
  .row.q-mb-sm
    QToggle.q-mr-xl(
      v-model="darkMode"
      label="Dark mode"
      checked-icon="dark_mode"
      unchecked-icon="light_mode"
    )
    QToggle.q-mr-xl(
      v-model="blinkCursor"
      label="Blinking cursor"
    )
    label Clue text size
      QInput.inline.q-ml-sm.clue-text-size(
        v-model.number="clueTextSize"
        type="number"
        dense
      )
        template(#append) px
  .row.q-mb-sm
    QToggle(
      v-model="skipFilledCells"
      label="Skip filled cells when typing"
    )
  section Difficulty:
    QOptionGroup.option-group(
      v-model="difficulty"
      :options="difficultyOptions"
      inline
    )
  section
    fieldset.field
      legend These are controlled by, or define the #[dfn difficulty], but can also be individually customized
      .column
        section
          .row
            QToggle.q-mr-xl(
              v-bind="enumerationToggleProps('wordCount')"
              label="Show word counts"
            )
            QToggle.q-mr-xl(
              v-bind="enumerationToggleProps('letterCount')"
              label="Show letter counts"
            )
        section Bloom Clue Ordering:
          QOptionGroup.option-group(
            v-model="bloomClueOrdering"
            :options="makeOptions(bloomClueOrders)"
            inline
          )
  section
    QToggle(
      v-if="!disableEdit"
      v-model="alwaysAllowEditing"
      label="Allow editing published puzzles"
    )
  section
    QBtn(
      label="Reset Tips"
      title="Show all tips again next time"
      icon="tips_and_updates"
      @click="resetTips"
      flat no-caps
    )
</template>

<style scoped>
.settings {
  width: 45em;
}
section {
  margin: 0.25em 0;
}
fieldset {
  border-radius: 0.5em;
  border-color: var(--shadow);
}
fieldset .field {
  width: auto;
}
legend {
  padding: 0 0.25em;
}
.option-group {
  display: inline;
}
.clue-text-size {
  width: 6em;
  text-align: right;
}
.clue-text-size :deep(.q-field__native) {
  text-align: right;
}
.clue-text-size :deep(.q-field__marginal) {
  font-size: inherit;
}
</style>