<script setup lang="ts">
import { useUrlSearchParams } from '@vueuse/core';
import { computed, onMounted, watch } from 'vue';
import { useLoader, loadFromUrl } from '../models/file';
import { type GridState } from '../models/grid';
import { type PuzzleProperties } from '../models/puzzle';
const emit = defineEmits<{
  loading: [string]
  load: [PuzzleProperties, GridState?]
}>()
const search = useUrlSearchParams()
const url = computed(() => typeof search.url === 'string' ? search.url : undefined)
watch(url, () => {
  if (url.value) {
    emit('loading', url.value)
  }
}, {
  immediate: true
})
const { load, loading, errorMessage } = useLoader(loadFromUrl, (puzzle) => emit('load', puzzle))
onMounted(async () => {
  if (url.value) {
    await load(url.value)
  }
})
</script>

<template lang="pug">
template(v-if="url")
  QSpinner.loading(
    v-if="loading"
    color="primary"
    size="5em"
  )
  .text-negative(v-else-if="errorMessage") {{ errorMessage }}
template(v-else)
  slot(name="no-url")
</template>

<style scoped>
.loading {
  position: absolute;
  inset: 50%;
}
</style>