<script setup lang="ts">
import { type QNotifyOptions, useQuasar } from 'quasar'
import { disabledTips } from '../models/settings'
import { type MaybeRefOrGetter, watch, toValue } from 'vue'
import { Game } from '../models/game';
import { type Tab } from './HelpView.vue';
import { CursorDirection } from '../models/cursor';
import { dimensionOptions } from '../models/dimension';
const { game } = defineProps <{ game?: Game }>()
const quasar = useQuasar()
const emit = defineEmits<{
  help: [Tab],
  settings: [],
  close: [],
}>()
interface Tip extends QNotifyOptions {
  message: string
  trigger?: MaybeRefOrGetter<boolean>
  persistent?: true
}
type Action = Extract<Tip['actions'], any[]>[number]
const help: (tab: Tab) => Action = (tab) => ({
  label: 'Help',
  handler: () => emit('help', tab),
})
const feedback = {
  label: 'Feedback',
  href: `mailto:${import.meta.env.VITE_SUPPORT_EMAIL}`,
}
const settings = {
  label: 'Settings',
  handler: () => emit('settings'),
}
const tips: Record<string, Tip> = {
  editingExperimental: {
    message: `
      Thanks for trying out the editing mode! This is an experimental feature and your feedback is appreciated.
      Use the Help to get started. Note that the letters you enter into the grid are not saved into the puzzle,
      and instead you have to enter the answers in the right panel under each clue.
    `,
    actions: [
      help('editing'),
      feedback,
    ],
    icon: 'edit',
    trigger: () => !!game?.isEditing
  },
  newSettings: {
    message: `
      New settings are available, such as difficulty levels, and the text size of clues. Check them out!
    `,
    icon: 'settings',
    actions: [
      settings,
    ],
  },
  cursorRightAligned: {
    message: `
      Right-aligned mode is active! Just type the word as you spell it, and they will shift to the left.
      No need for mirror-writing!
    `,
    icon: 'west',
    trigger: () => game?.cursor?.mode.value === 'row' &&
      game.cursor.direction.value === CursorDirection.reverse,
    timeout: 10000,
    progress: true,
    closeBtn: false,
  },
  nonStandardGrid: {
    message: `
      This puzzle appears to use a non-standard sized grid. Support is experimental. If any issues occur,
      your feedback is appreciated!
    `,
    icon: 'pentagon',
    actions: [
      feedback,
    ],
    trigger: () => !!game?.isOpen() &&
      !Object.values(dimensionOptions).some((dimension) => game.dimension.is(dimension))
  },
}
for (const [name, { trigger, persistent, ...tip }] of Object.entries(tips)) {
  watch(() =>
    !disabledTips.value[name] &&
    (!trigger || toValue(trigger)), (triggered) => {
      if (triggered) {
        quasar.notify({
          type: 'info',
          closeBtn: 'Dismiss',
          onDismiss: () => {
            if (!persistent) {
              disabledTips.value[name] = true
            }
          },
          timeout: 0,
          ...tip,
        })
      }
    }, {
    immediate: true,
  })
}
</script>

<template></template>