<script setup lang="ts">
import type { PuzzleProperties } from './models/puzzle';
import { type GridState } from './models/grid';
import { ref, computed, watch, defineAsyncComponent, shallowRef } from 'vue';
import PuzzleToolbar from './components/PuzzleToolbar.vue';
import PuzzleGrid from './components/PuzzleGrid.vue';
import PuzzleFileLoader from './components/PuzzleFileLoader.vue';
import PuzzleClues from './components/PuzzleClues.vue';
import PuzzleInfo from './components/PuzzleInfo.vue';
import IntroductionView from './components/IntroductionView.vue';
import CanonicalUrlView from './components/CanonicalUrlView.vue';
import SharedUrlLoader from './components/SharedUrlLoader.vue';
import { Game } from './models/game';
import { useQuasar } from 'quasar';
import "./palette.sass"
import LogoView from './components/LogoView.vue';
import AppDialog from './components/AppDialog.vue';
import { useTitle } from '@vueuse/core';
import { useAutoDarkMode } from './models/settings';
import AppToolBarButtons from './components/AppToolBarButtons.vue';
import SessionLoader from './components/SessionLoader.vue';
import TipsView from './components/TipsView.vue';
import Fireworks from '@fireworks-js/vue'
const game = shallowRef<Game>();
useTitle(computed(() => {
  const appTitle = import.meta.env.VITE_APP_TITLE;
  const puzzleTitle = game.value?.puzzle?.title.value;
  if (!puzzleTitle) {
    return appTitle
  }
  const pattern = /^(.+) - .+$/
  if (pattern.test(appTitle)) {
    return appTitle.replace(pattern, `$1 - ${puzzleTitle}`)
  } else {
    return `${appTitle} - ${puzzleTitle}`
  }
}))
const quasar = useQuasar();
useAutoDarkMode(quasar);
const fireworks = ref<InstanceType<typeof Fireworks>>()
function onLoad(puzzleProperties: PuzzleProperties, gridState?: GridState) {
  game.value = new Game({puzzleProperties, gridState});
  if (!game.value.isEditing) {
    watch(() => game.value?.status, status => {
      if(status === 'filled') {
        quasar.notify({
          message: 'The puzzle is completely filled but you have made errors.',
          icon: 'running_with_errors',
          color: 'warning',
        });
      } else if(status === 'completed') {
        fireworks.value?.start()
        quasar.notify({
          message: 'Congratulations! You have completed this puzzle.',
          icon: 'celebration',
          color: 'positive',
          timeout: 0,
          closeBtn: 'Yay!',
          onDismiss: () => fireworks.value?.stop()
        });
      }
    });
  }
}
function close() {
  game.value?.close();
}
const enableFavIconGenerator = import.meta.env.DEV;
const favIconGenerator = enableFavIconGenerator
  ? defineAsyncComponent(() => import('./components/FavIconGenerator.vue'))
  : 'div'
const favIconGeneratorDialog = ref<InstanceType<typeof AppDialog>>();
const appToolBarButtons = ref<InstanceType<typeof AppToolBarButtons>>();
const loadingFromSharedUrl = ref(false);
const puzzleToolbar = ref<InstanceType<typeof PuzzleToolbar>>()
const tall = computed(() => game.value?.isOpen() && game.value.dimension.rowsPerColumn >= 16)
</script>

<template lang="pug">
.layout.fullscreen
  CanonicalUrlView.banner
  TipsView(
    :game="game"
    @help="(tab) => appToolBarButtons?.showHelp(tab)"
    @settings="appToolBarButtons?.showSettings()"

  )
  .game(
    v-if="game?.isOpen()"
    :class="{tall}"
  )
    PuzzleToolbar.toolbar(
      ref="puzzleToolbar"
      :grid="game.grid"
      :cursor="game.cursor"
      :puzzle="game.puzzle"
      :disable-close="loadingFromSharedUrl"
      @close="close"
      :vertical="tall"
    )
      template(#app-toolbar-buttons)
        AppToolBarButtons(
          ref="appToolBarButtons"
          :disable-edit="loadingFromSharedUrl"
          :disable-tabs="loadingFromSharedUrl ? ['introduction', 'editing'] : []"
          :initial-tab="game.isEditing ? 'editing' : 'playing'"
        )
    PuzzleGrid.grid(
      :grid="game.grid"
      :cursor="game.cursor"
    )
    PuzzleInfo.info(
      :puzzle="game.puzzle"
      @click="puzzleToolbar?.showInfo()"
      title="Show full puzzle information"
      :vertical="tall"
    )
    PuzzleClues.clues(
      :puzzle="game.puzzle"
      :cursor="game.cursor"
    )
  Fireworks.fireworks(
    ref="fireworks"
    :autostart="false"
  )
  SharedUrlLoader(
    @load="onLoad"
    @loading="loadingFromSharedUrl = true"
  )
  .home(v-if="!loadingFromSharedUrl && !game?.grid && !game?.puzzle")
    QToolbar.toolbar
      AppToolBarButtons(
        ref="appToolBarButtons"
        initial-tab="introduction"
      )
    LogoView.logo(@click="favIconGeneratorDialog?.show()")
    .loader
      PuzzleFileLoader(@load="onLoad")
      SessionLoader.session(@load="onLoad")
    .intro
      IntroductionView(
        @load="onLoad"
        @help="appToolBarButtons?.showHelp('introduction')"
      )
    AppDialog(
      v-if="enableFavIconGenerator"
      ref="favIconGeneratorDialog"
    )
      template(#title) favicon
      component(:is="favIconGenerator")
</template>

<style scoped>
.layout {
  padding: var(--padding);
  background-color: var(--background);
  color: var(--text);
  --padding: 1em;
}
.banner {
  margin: calc(-1 * var(--padding));
  margin-bottom: var(--padding);
}
.game {
  display: grid;
  height: 100%;
  box-sizing: border-box;
  gap: var(--vertical-gap) var(--horizontal-gap);
  align-items: start;
  grid-template-areas: 
    "toolbar  clues"
    "grid     clues"
    "info     clues";
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: min-content 1fr;
  overflow: hidden;
  --horizontal-gap: 3em;
  --vertical-gap: 1em;
  --clue-width: 15em;
  --toolbar-height: 32px;
  --info-height: 52px;
}
.game.tall {
  grid-template-areas:
    "toolbar  grid  clues"
    "info     grid  clues"
  ;
  --toolbar-height: 0px;
  --info-height: 0px;
  --vertical-gap: 0px;
}
.game.tall .info {
  align-self: end;
}
@media screen and (width < 1000px) {
  .layout {
    --padding: 0.5em;
  }
  .game {
    --info-height: 20px;
    --horizontal-gap: 0.5em;
    --vertical-gap: 0.55em;
  }
}
@media screen and (width < 1000px) and (orientation: portrait) {
  .game {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (width < 1000px) and (orientation: landscape), screen and (height < 700px) {
  .game {
    --info-height: 20px;
    grid-template-areas: 
      "toolbar  clues"
      "grid     clues"
      "info     info ";
  }
}
.toolbar {
  grid-area: toolbar;
}
.grid {
  grid-area: grid;
}
.info {
  grid-area: info;
  cursor: pointer;
}
.clues {
  grid-area: clues;
}
.logo {
  max-height: 100%;
}
.home {
  display: grid;
  gap: 1em;
  grid-template-areas: 
    "logo   toolbar"
    "loader loader"
    "intro  intro"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content min-content 1fr;
  align-items: start;
  height: 100%;
}
.logo {
  grid-area: logo;
}
.loader {
  grid-area: loader;
}
.intro {
  grid-area: intro;
}
@media screen and (width < 1000px) and (orientation: landscape) {
  .home {
    grid-template-areas: 
      "logo  toolbar"
      "logo  loader"
      "intro intro"
    ;
  }
  .logo {
    min-height: 10em;
    align-self: end;
  }
  .loader {
    align-self: end;
  }
}
@media screen and (width < 1000px) and (orientation: portrait) {
  .home {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (width > 1000px) {
  .loader {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 1rem;
  }
  .loader :deep(> .q-btn) {
    margin-bottom: 20px;
  }
  .session {
    order: -1;
  }
}
.fireworks {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
</style>
<style>
.q-notification .q-notification__actions {
  color: inherit;
}
</style>