:root 
  --background: #ecf0df
  --text:       #0c060b
  --shadow:     #0c060b22
  --card:       #e0e4d4
  --label:      #0009
  --revealed:   #db8e29
  --incorrect:  #e93010
  --correct:    #0e6d0e
  --selected:   #0e5f5f
  --pencil:     #3b3838
  --border:     #141414
  --light:      #fbf9f1
  --medium:     #e7e3ae
  --dark:       #b44da7
  --accent:     #700f63

.body--dark
  --background: #1d141c
  --text:       #addcdc
  --shadow:     #addcdc22
  --card:       #2d252c
  --label:      #ffffffb3
  --revealed:   #7a4010
  --incorrect:  #770d0d
  --correct:    #72e272
  --selected:   #db266b
  --pencil:     #b7b1be
  --border:     #9ea3a3
  --light:      #6c6d3b
  --medium:     #185036
  --dark:       #220659
  --accent:     #db8e29

a
  color: var(--selected)
  &:not(:hover)
    text-decoration: none